@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}

/* Leaflet container must have explicit height */
.leaflet-container {
  width: 100%;
  height: 100%;
}
